 

 section {
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Fondo_Negro.jpg"); 
     background-size: cover;  
     padding: 2rem;  
    height: 100%;
 }      

 .collections-container {
     display: flex;   
     padding: 0;
     margin: 0;
     padding-top: 15px;
     justify-content: center;
 }   

.collections-content {
    display: flex;  
    justify-content: center;  
    padding: 0;
    margin: 0;
    width: 100%; 
    gap: 50px;
    flex-direction: row;
}   

.line {
    width: 30%;  
    size: 5cm;
    border-color: green;
}
.collections-content-text {
    color: white;   
    display: block; 
    margin:  0 auto;
    text-align: start;
    width: 50%;
}  

.collections-content-text h3  {
   text-align: start; 
   font-size: 1.5rem;
}  

.collections-content-image {
    display: block; 
    margin: 0 auto;  
    padding-top: 15px;
} 
.title { 
    margin: 0 ; 
    color: white;  
    font-size: 3.5rem;
    text-align: center; 
}
 @media(max-width: 965px) {  
     section {
         padding: 0; 
         margin: 0;
     }
     .collections-container {
        width: 100%;
     }
     .collections-content {
         display: flex; 
         flex-direction: column;
     }
     
     .collections-content-text h3 {
        text-align: center;
    } 

    .collections-content-image {  
        width: 85%;
        padding: 10px;
    } 

    .collections-content-text {
        width: 90%;  
        text-align: center; 
    } 
   
 }

@media(max-width: 630px) {  
    section {
      
        padding-top: 15px;
        margin: 0;
    }
    .collections-content-image {  
        width: 85%;
        padding: 10px;
    }    
    .collections-content {
        display: flex; 
        flex-direction: column;
    }  
    .collections-content-text h3 {
        text-align: center; 
        padding: 0; 
        margin: 0;
    }
   
    .collections-content-text {
        width: 100%;  
        text-align: center;

    } 

    .collections-content-text  p {
     padding: 20px; 
     margin: 0; 
    }

}