 .content-container {
     display: flex;       
     justify-content: center;
     flex-direction: row; 
     margin-top: 10px; 
     padding: 0 50px 50px 50px;
     position: relative;
     padding-bottom: 18em ;
     min-height: 100vh;
 }

 .content-container-details {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
 }
 .content-container-details-section{ 
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; 
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
 }

 .product-name {
    color: black;    
    font-weight: bold; 
    padding: 0;
    margin: 0;
    font-size: 24px;  
    font-family: 'Roboto Condensed', sans-serif;
} 
.shop-button {
    background-color: black; 
    padding: 12px 8px;   
    margin-top: 10px;
    letter-spacing: 0.7px;
    color: white; 
    text-transform: uppercase;
}   
  

.product-warnings {
    padding-left: 30px;
} 



 
.materials {
    align-self: center;
} 
 
.product-price {
    font-size:  1rem; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
}

.product-description {
    text-align: start;   
    font-size: 0.8rem; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
}  

select {
    width: 100%;  
    border: none; 
    outline: none;
}  

.select-size {
    font-size: 0.7rem;
}


.option-size{
    text-transform: uppercase;
} 

hr {
    color: black;
}
   

.button-cart {
    background: #000;   
    cursor: pointer; 
    padding: 10px;    
    letter-spacing: 0.7px ; 
    text-transform: uppercase;
    color: white;
    text-align: center;
} 

.product-warnings {
    align-self: center;
} 
.product_warnings_title{
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', sans-serif; 
    letter-spacing: 0.7px; 
    font-size: 13px;

} 

.content-container select {
    text-transform: uppercase;
}  

.share-icons {  
    display: flex; 
    flex-direction: row; 
    gap: 7px;
}

.content-container ul {  
    text-decoration: none;
    list-style: none; 
    padding-left: 0;
} 

.additional_information_sidebar{
        position: fixed;
      background: white;
        opacity: .9;
        left: -25%;
        width: 26%;
        height: 68%;
} 

 .show {
    transform:  translateX(-100vw);   
    position: relative;
    height: 100vh; 
    border: 1px solid grey;
    transition: 1s; 
    background: white;
}  
 
.titles {
    width: 250px;
}


.content-blocker { 
    text-align: center; 
    position: fixed;    
    margin: 0 auto;
    display: block;
    top: 30%;  
	opacity: 1;
	right: -100vw;
    width: 50vw;
    height: 100vh;
} 

.content-blocker p {
    font-size: 10px;
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif 

} 

.content-blocker ul li{
    text-decoration: dotted; 
    list-style: circle;
    font-size: 10px;
}
  
.content-blocker h3 {
    font-size: 16px; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;  
    font-weight: 500 bold;
    letter-spacing: 0.7px; 
    text-transform: uppercase; 
} 
 
.text-container {
    text-align: initial; 
    padding-left: 15%; 
    height: 70vh; 
    overflow-y: scroll;
}  

.close-img {
    width: 40px; 
    position: absolute; 
    left: 0; 
    top: 0;
} 


.product-warnings ul li {
   font-size: 0.7rem;
}
 

.regards-politics {
    font-size: 0.9rem; 
    text-transform: uppercase;
} 

.warning-icon {
    display: inline-block; 
    width: 2rem;  
    padding: 0;
    height: 2rem;
} 

.btn-cart {
  background-color: #007220;
  text-align: center;
  cursor: pointer;   
  font-size: 0.7rem; 
  border: none;
  padding: 10px; 
  text-decoration: none;  
  font-weight: 500;  
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.7px; 
}  

.product-info {
    border: 1px solid green;
    width: 80%;  
    line-height: 1.9rem;
    padding: 0;
    border: 0;
}

@media(max-width: 720px){ 
    .product-info {
        padding: 15px; 
        width: 100%;
        order: -1;
      } 
  .content-container { 
    flex-direction: column;
    align-items: center; 
  } 
  .product-name {
    font-size: 1.3rem;
    margin: 0;
  } 
  .product-description {
    width: auto;
    font-size: 0.7rem;
  }
  .product-price {
    font-size: .9rem;
  }
}