 .content-container {
     display: flex;  
     justify-content: center;
     flex-direction: column;
     /* padding: 0; */
     /* max-width: 1200px;  */
     /* align-items: center; */
 }

 .product-name {
    color: black;    
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    padding: 2px 0 2px 0;
    /* border: 1px solid green; */
    text-transform: uppercase;  
    font-family: 'Roboto Condensed', sans-serif;
} 
.shop-button {
    /* border: 1px solid green; */
    width: 50%;
    background-color: black; 
    /* padding: 12px 8px;    */
    margin-top: 5px;
    letter-spacing: 0.7px;
    color: white; 
    text-transform: uppercase;
}  
 
.materials {
    align-self: center;
} 
 
.product-price {
    font-size: 12px; 
    padding: 0;
    padding: 2px 0 2px 0;
    color: black;
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
}

.product-description {
    padding: 0;
    color: gray;
    font-size: 12px; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
}  
.product-info {
    display:flex;
    flex-direction: column;
}

select {
    width: 100%; 
    border: none; 
    outline: none;
}

.option-size{
    text-transform: uppercase;
} 

hr {
    color: black;
}
  
 
@media(min-width: 500px){
    .content-container {
        border:1px solid red;
        /* width: 100%; */
        /* flex-direction: row;  */
        /* align-items: flex-start;   */
        /* justify-content: space-evenly; */
    }
}