 
 .cart-img {
     width: 15.7rem;
 } 
  

 

.cart-container {
    display: flex; 
    justify-content: flex-start;  
    flex-wrap: wrap;
    gap: 60px;   
    padding-left: 120px;
    height: 100vh;
    margin-top: 10px;
}
  
 
.cart-item {
    display: flex; 
    align-self: flex-start;
} 
 



.plus-icon {
    width: 30px; 
    height: 30px;
} 

.cart-item-info {
    max-height: 100%;  
    flex-direction: column; 
    padding-left: 15px; 
    gap: 5px;
    display: flex;                         
    align-items: center;
} 
.cart-functional-buttons { 
    align-items: center; 
    justify-content: space-evenly; 
    gap: 10px;
    display: flex;
}   
.cart-item_name {
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
}
.delete-icon {
    width: 50px; 
    height: 50px;
} 

 


@media(max-width: 560px) {
    .cart-img {
        width: 10.5rem;
    } 
    .cart-item-color__name {
        font-size: 0.7rem;
    } 
    .cart-item__size {
        font-size: 0.8rem;
    } 
    .cart-item_price {
        font-size: 0.7rem;
    } 

}