.container-footer {
	display: flex;
	justify-content: center;
	width: 100%;
	/* border: 1px solid blue; */
}
.site-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 100%;
	padding: 45px 0 20px;
	font-size: 15px;
	position: absolute;
	line-height: 24px;
}
.container-text-footer {
	/* border: 1px solid green; */
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-around;
}
.container-text-footer a {
	text-decoration: none;
}
.container-copyright {
	text-align: center;
}
.site-footer hr {
	opacity: 0.5;
}
.site-footer hr.small {
	margin: 20px 0;
}
.site-footer h6 {
	color: #fff;
	font-size: 16px;
	padding-left: 35px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
}
.site-footer a {
	color: black;
	/* color: #737373; */
}
.site-footer a:hover {
	color: whitesmoke;
	text-decoration: none;
}
.links {
	padding: 0;
	margin: 0;
}
.footer-links {
	/* border: 1px solid red; */
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-links li {
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
}
.footer-links a {
	color: black;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: pink;
	text-decoration: none;
}
.footer-links.inline li {
	display: inline-block;
}
.site-footer .social-icons {
	/* text-align: right; */
}
.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	/* margin-left: 6px; */
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d;
}
.copyright-text {
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	/* font-size: 15px; */
}
.copyright-text a {
	text-decoration: none;
	color: black;
}

@media (max-width: 991px) {
	.site-footer [class^='col-'] {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center;
	}
}
.social-icons {
	padding: 0;
	margin: 0;
	list-style: none;
}
.social-icons li {
	display: inline-block;
	margin-bottom: 4px;
}
.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px;
}
.social-icons a {
	background-color: #eceeef;
	color: white;
	font-size: 14px;
	display: inline-block;
	line-height: 44px;
	width: 24px;
	height: 24px;
	text-align: center;
	/* margin-right: 8px; */
	border-radius: 100%;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: #fff;
	background-color: #29aafe;
}
.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px;
}
.social-icons a.facebook:hover {
	background-color: #3b5998;
}
.social-icons a.twitter:hover {
	background-color: #00aced;
}
.social-icons a.linkedin:hover {
	background-color: #007bb6;
}
.social-icons a.dribbble:hover {
	background-color: #ea4c89;
}
.copyright-item {
	font-size: 1em;
	font-weight: 600;
}

.subscribe {
	border: 1px solid green;
}

.facebook {
	border: 1px solid green;
	margin-right: 10px;
}
.subscribe p {
	width: 500px;
}
.subscribe h6 {
	color: black;
	text-align: start;
	font-weight: 600;
	font-size: 0.9em;
	margin: 0;
	padding: 0 10px;
}

@media (max-width: 720px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600;
	}
	.site-footer {
		width: auto;
		padding: 1rem;
	}
	.container-text-footer {
		/* display: flex;
    flex-direction: row; */
		width: 100%;
	}
	.container-footer-links {
		/* display: flex;
    flex-direction: column; */
	}
	.container-footer-links ul li {
		/* border: 1px solid white; */
		padding: 0 10px 0 10px;
	}
	.footer-links {
		display: flex;
		flex-direction: row;
	}
	.footer-links li {
		padding: 0 10px 0 10px;
	}
	.container-content {
		background-color: black;
		/* border: 1px solid white; */
	}
	.links {
		order: -1;
	}
	.subscribe {
		padding: 0px;
	}
	.subscribe h6 {
		padding: 0;
		margin: 0;
		text-align: center;
	}
}

@media (max-width: 530px) {
	.container-text-footer {
		flex-direction: column;
		align-items: center;
	}
	.container-text-footer > div {
		/* width: 230px; */
	}
}
