section {
  background-size: cover;
  background-color: white;
  padding-top: 120px;
  margin-bottom: 30px;
}

.titlecollection {
  text-align: center;
}

section button {
  width: 150px;
  font-family: Krub, sans-serif;
  height: 50px;
  background-color: orange;
}

.collections-container {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  justify-content: center;
}

.collections-content {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  gap: 50px;
  flex-direction: row;
}

.explore {
  border-radius: 5px;
}

.collections-content-text {
  color: black;
  display: block;
  margin: 0 auto;
  text-align: start;
  width: 50%;
}

hr {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.collections-content-text h3 {
  text-align: start;
  font-size: 1.5rem;
}

.collections-content-image {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 15px;
}
.title {
  margin: 0;
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

#Invierno .collections-content {
  flex-direction: row-reverse;
}

#Winter .collections-content {
  flex-direction: row-reverse;
}

@media (max-width: 965px) {
  .collections-content-image {
    width: 45%;
  }
  .collections-container {
    width: 100%;
  }
  .collections-content {
    display: flex;
    flex-direction: column;
  }
  .collections-content-text {
    width: 60%;
  }
  #Invierno .collections-content {
    flex-direction: column;
  }
  #Winter .collections-content {
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .collections-content-image {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
  }
  .collections-content {
    display: flex;
    flex-direction: column;
  }
  #Invierno .collections-content {
    flex-direction: column;
  }

  .collections-content-text {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  #Invierno .collections-content {
    flex-direction: column;
  }
  #Winter .collections-content {
    flex-direction: column;
  }
}
