@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');

nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav__projectName {
  text-decoration: none;
} 

 


.nav-main{
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: white;

} 
.authLink {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.navbar_menu   {
  /* font-family: 'Oswald', sans-serif; */
  /* border-top: 1px solid olive; */
  /* border-bottom: 1px solid olive; */
  font-family: "Alegreya Sans SC",'sans-serif';
}
.navbar_menu a {
  color: green;
  padding: 0 .5rem 0 .5rem;
}
.authLink + .authLink {
  padding: 1em;
}
.authLink:hover {
  color: #ffffff;
}
.nav-logoutbtn {
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff; 
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}
.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
} 
.search {
  color: white; 
  font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif ; 
  letter-spacing: 0.7px;
} 
.cart-count {
  position: absolute;     
  transform: translate(-200%, 50%); 
  font-size: 10px; 
} 
.bag-icon {
  position: relative; 
}
 

.navbar-area-collections {
  background-color:  white; 
  position: absolute;   
  width: 750px;  
  display: block; 
  margin: 0 auto;
  transform: translate(0, 35px);     
  left: 0;    
  right: 0; 
  z-index: 1000
}   

.navbar-area-collections ul {
  color: black;
}

.navbar-area-collections-content li  {
  display: flex;   
  gap: 40px;
  flex-direction: row;
} 

.navbar-area-collections-content ul:hover {
   color: green; 
   border-width: 2px;
   padding: 0; 
   margin: 0;
   text-align: center;
} 
 
ul a {
  color: black;
}



.collection-link {
  position: relative;
} 
 

.menu {
  background-color: white;
}  


.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;  
  left: 70%;
  display: none;
  right: 15px; 
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/


/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}      
 


@media(max-width: 860px) {
  .menu {
    background-color: white;
  }
  .bm-menu-wrap menu {
    width: 100%; 

  }    

.bm-burger-button span {
  background-color: white;
}

  .bm-menu-wrap {
    width: 100vw; 
    top: 0; 
    background-color: white;
  }
   
  .bm-burger-button {
    position: absolute;
    width: 36px;  
    display: block;
    height: 30px;
    right: 15px; 
    top: 20px;
  } 
 
  

}


