@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #007220;
}

.nav__projectName {
  text-decoration: none;
}
.nav-main{
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #007220;

}
.authLink {
  color: white;
  text-decoration: none;
  /* font-family: 'Roboto Condensed','sans-serif'; */
  transition: color 0.2s ease-in-out;
}
.navbar_menu   {
  /* font-family: 'Oswald', sans-serif; */
  /* border-top: 1px solid gray; */
  /* border-bottom: 1px solid gray; */
  /* border: 1px solid white; */
  font-family: "Alegreya Sans SC",'sans-serif';
  font-size: 42px;
  /* font-weight: 200; */
}
.navbar_menu a {
  /* border-left: 1px solid white; */
  color: green;
  padding: 0 1rem 0 1rem;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  /* font-family: inherit; */
  /* font-weight: inherit; */
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}