.container-favorites {
    display: flex; 
    justify-content: center;        
    flex-wrap: wrap;
    gap: 40px;         
    margin-top: 20px;
}  

.container-favorites img {
    width: 10.5rem;
} 

.element button {
    background-color: black; 
    color: white; 
    width: 150px; 
    height: 50px;
}