@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');

.title_sidebar_shop {
  font-family: "Alegreya Sans SC",'sans-serif';
	font-size: 15px;
	/* border: 1px solid green; */
}
.menu_sidebar_shop li {
	/* border: 1px solid green; */
  font-family: "Alegreya Sans SC",'sans-serif';
  font-family: "Oswald",'sans-serif';
}
.title_sibebar_shop:hover{
	/* font-size: 29px; */
	/* border: 1px solid green; */
}
/* .show {
} */