 .icon {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    border: 1px solid grey;
}  

.contacts-content {
  text-align: center;
} 

.contents-container {
  padding: 25px;
}
 
.contact-content-item {
  padding-top: 15px;
} 


.contacts-subtitle {
  text-align: center;
} 
 
.contacts-container {
  padding-top: 15px;
} 

.how-to-reach_us {
    text-align: center;
} 
.contacts-title h3 {
    font-size: 40px;
}  


 
.contacts-subtitle h4 {
    font-size: 15px;
}

@media(min-width: 865px) {
    .contacts-content {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        gap: 50px;
    } 
    .contacts-subtitle h4 {
        font-size: 17px;
    }
}