img {
    display: block; 
    cursor: pointer;
} 
 
.content-container {
    display: flex;   
    padding-top: 15px; 
    gap: 40px; 
    padding: 30px 50px 50px 50px;
    border: 1px solid green;

    /* padding: 10px 18px 10px 18px; */
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    padding-left: 10px; */
}
.container-gallery {
    margin: 0;   
    padding: 0; 
    border: 1px solid red;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    /* padding-top: 1.2rem;   */
    /* gap: 50px;   */
}
.container-gallery img {
    border: 1px solid green;
}
.container-image-gallery {
    object-fit: cover;
} 
 
.container-gallery img {
    width: 45%; 
    max-height: 100%;
}

.container-gallery .selected { 
    margin: 0 auto; 
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 8px;
} 

.container-gallery .imgContainer {
    display: flex; 
    gap: 12px; 
    justify-content: center;
    border-radius: 2px;
} 

.container-gallery .imgContainer img {     
    width: 85px; 
}
 

.container-gallery .selected { 
    width: 70%; 
    max-height: 100%; 
 } 
 

@media(max-width: 720px) {
    .container-gallery .selected { 
       width: 100%;
    }  
    .container-gallery {
        width: 100%; 
    }
}