img {
    display: block; 
    cursor: pointer;
} 
 
.content-container {
    display: flex; 
}
.container-gallery {
    margin: 0;   
    padding: 0;
    /* border: 1px solid red; */
    justify-content: center;
    margin: 0; 
    padding: 0;
    gap: 50px;  
}
.container-gallery .selected { 
  width: 250px;
  max-height: 100%; 
  max-width: 100%;
} 

.container-gallery .imgContainer {
    display: flex; 
    gap: 12px; 
    justify-content: start;
    align-items: center;
    border-radius: 2px;

} 

.container-gallery .imgContainer img {
    width: 85px; 
    margin: 5px 0;
}