img {
    display: block; 
    cursor: pointer;
} 
 
.content-container {
    display: flex;   
    padding-top: 15px; 
    gap: 40px; 
    padding: 30px 50px 50px 50px;
}
.container-gallery {
    margin: 0;   
    padding: 0; 
    border: 0;
    width: 100%;
    justify-content: center;
}
.container-gallery img {
    margin: 0px;   
    padding: 0px; 
}
.container-image-gallery {
    object-fit: cover;
} 
 
.container-gallery img {
    /* width: 45%;  */
    /* max-height: 100%; */
}

.container-gallery .selected { 
    margin: 0 auto; 
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 8px;
} 

.container-gallery .imgContainer {
    display: flex; 
    gap: 12px; 
    justify-content: start;
    border-radius: 10px;
} 

.container-gallery .imgContainer img {     
    width: 85px; 
}
 

.container-gallery .selected { 
  width: 70%; 
  max-height: 100%; 
 } 
 

@media(max-width: 720px) {
  .container-gallery .selected { 
      width: 100%;
  }  
  .container-gallery {
      width: 100%; 
  }
}
@media(min-width: 56rem){
  .container-gallery {
    width: 40%;
    padding: 0;
    border: 0;
    border: 1px solid green;
  }
  .container-gallery img {
    width: 100%;
  }
  .imgContainer {

  }
}