img {
    display: block; 
    cursor: pointer;
} 
 
.content-container {
    display: flex; 
    padding: 10px;
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    padding-left: 10px; */
}
.container-gallery {
    margin: 0;   
    padding: 0;
    /* border: 1px solid red; */
    justify-content: center;
    /* padding-top: 1.2rem;   */
    /* gap: 50px;   */
}
.container-image-gallery {
    object-fit: cover;
}
.container-gallery .selected { 
    border-radius: 2px;
    object-fit: cover;
    margin-bottom: 8px;
    /* border: 1px solid green; */
  /* width: 350px; */
  /* max-height: 100%;  */
  /* max-width: 100%; */
} 

.imgContainer {
    display: flex; 
    gap: 12px; 
    justify-content: start;
    align-items: center;
    border-radius: 2px;

} 

.container-gallery .imgContainer img {
    width: 95px; 
    margin: 5px 0;
}