img {
    display: block; 
    cursor: pointer;
} 
 
.content-container {
    display: flex; 
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px; 
    padding-left: 30px;
}
.container-gallery {
    margin: auto;   
    justify-content: center;
    padding-top: 1.2rem;  
    gap: 50px;  
}
.container-image-gallery {
    border: 1px solid red;
}
.container-gallery .selected { 
    border: 1px solid green;
  /* width: 350px; */
  /* max-height: 100%;  */
  /* max-width: 100%; */
} 

.container-gallery .imgContainer {
    display: flex; 
    gap: 30px; 
    justify-content: center;
} 

.container-gallery .imgContainer img {
    width: 50px; 
    margin: 5px 0;

}