@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");

.title_sidebar_shop h4 {
  font-family: "Alegreya Sans SC", "sans-serif";
  font-size: 15px;
}

.menu_sidebar_shop li {
  font-family: "Alegreya Sans SC", "sans-serif";
  font-weight: 600;
}

.menu_sidebar_shop {
  position: absolute;
  z-index: 5000;
  top: 30%;
}
