@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');

.title_sidebar_shop {
  font-family: "Alegreya Sans SC",'sans-serif';
	font-size: 15px;
}
.menu_sidebar_shop li {
  font-family: "Alegreya Sans SC",'sans-serif';
	font-weight: 600;
} 
  