form.auth__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

button.button__submit {
  margin: 1em auto; 
  width: 100%; 
  height: 30px;
}
 
.container-form {
  display: flex; 
  justify-content: space-evenly;   
  height: 100vh;  
  flex-wrap: wrap; 
  background: #007220;
  align-items: baseline;
  padding-top: 50px;
} 


#input-username {
  height: 30px; 
  width: 220px;
} 
 
#input-password { 
  margin-top: 15px;
  height: 30px; 
  width: 220px;
} 

.img-loginform {
   width: 220px;
}