@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
  padding-top: 80px;
  /* padding: 6rem 3rem 2rem 3rem; */
}

h1 {
    font-size: 24px;
    /* font-weight: 400; */
    text-align: center;
}

img {
  height: auto;
  max-width: 100%; 
  vertical-align: middle;
} 
 
.card-img { 
   height: 33,3%;
  
}
.card {
  width: 100%;
}

.cards {
  display: flex; 
  flex-direction: row;
  /* justify-content: center; */
  border: 1px solid green;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.cards_item {
  display: flex;
  width: 100%;
  padding: 0 0.9rem 0 0.9rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
} 

.card_image {
  width: 100%;
  height: 100%;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 650px) { 
  .bDWRga{
    display: none;
  }
}

@media (min-width: 40rem) {
  .card_content{
    /* border: 1px solid green; */
    /* width: 50%; */
  }
}
@media (max-width: 66rem) {
  .container_favorities {
    margin-top: -6px;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 21%; 

  }
  .card_image {
    /* border: 1px solid green; */
  }
  .card_content {
    font-size: .9em;
  }
  
  .card_title {
    border: 1px solid green;
  }
  .container_favorities {
    position: absolute;
    padding: 0;
    margin-left: 17.5%;
    margin-right: 81%;
  }
  .container_favorities svg {
    color: green;
    font-size: 32px;
    margin-top: 10px;
  }
  .container_favorities svg:hover {
    color: violet;
    transform: translateY(2px);
    transition: all 0.3 ease;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  padding: 2px;
  margin-bottom: 1.5rem;
  background: white;
}

.card_title {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: "Futura"; */
  font-size: 1em; 
  font-weight: 300;
  text-transform: uppercase;

} 
 
.card_price {
  /* border: 1px solid green; */
  color: black;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em; 
  font-weight: 300;
  border: 0;
  padding: 0;
  margin: 0;
}
.card_text {
  border: 1px solid green;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  /* font-weight: 400; */
}
.made_by{
  /* font-weight: 400; */
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
} 