@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #007220;
}

.nav__projectName {
  text-decoration: none;
}
.nav-main{
  display: flex;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #007220;

} 
.authLink {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.navbar_menu   {
  /* font-family: 'Oswald', sans-serif; */
  border-top: 1px solid olive;
  border-bottom: 1px solid olive;
  font-family: "Alegreya Sans SC",'sans-serif';
}
.navbar_menu a {
  color: green;
  padding: 0 .5rem 0 .5rem;
}
.authLink + .authLink {
  padding: 1em;
}
.authLink:hover {
  color: #ffffff;
}
.nav-logoutbtn {
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
} 


.search {
  color: white; 
  font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif ; 
  letter-spacing: 0.7px;
} 

.cart-count {
  position: absolute;     
  transform: translate(-180%, 40%); 
  font-size: 10px; 
} 
 
 
.bag-icon {
  position: relative; 
}
