.cart {
    margin-top: 10px; 
    border-right: 300px; 
    width: 400px; 
    background-color: #222222; 
    color: white;
} 

.cart h2 {
    text-align: center;
} 

.shop-continue {
    display: block; 
    margin: 0 auto; 
    width: 10.5rem; 
    background-color: black; 
    color: white;   
    letter-spacing: 0.7px;
    font-weight: 600;
    cursor: pointer; 
    padding: 10px 12px; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    border: 1px solid;
} 


.cart-title {
    text-align: center;
}

.total {
    text-align: center; 
    font-size: 0.8rem; 
    text-transform: uppercase; 
    font-weight: 600;
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
}   

.cart-additional {
    position: fixed; 
    width: 100%;  
    bottom: 0;
    left: 0;  
    display: flex;   
    padding-top: 10px;
    border-top: 1px solid black;
    gap: 2.5rem; 
    background-color: white;
   justify-content: space-around;
} 