.cart-container h2 {
  text-align: center;
}

.cart-info-content {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cart-content-container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 1rem;
  box-shadow: 2px 2px 11px 0px rgb(0 0 0 / 10%);
}

.cart-info-general-color {
  display: none;
}

.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}
.count {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
}

.cart-info-general-size {
  display: none;
}

.cart-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.cart-container {
  padding-top: 15px;
}

.cart-info-image {
  width: 150px;
  height: 150px;
}
.cart-info-additionals button {
  background-color: white;
  color: black;
}

.cart-info-additionals {
  box-shadow: 2px 2px 11px 0px rgb(0 0 0 / 10%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 15px;
}

.cart-info-additionals-elements {
  display: flex;
  justify-content: space-around;
}
.cart-info-pay-button {
  text-align: center;
  border-radius: 5px;
}
.arrows {
  display: inline-block;
  width: 50px;
}

.up,
.down {
  height: 15px;
}

.arrows-container {
  display: flex;
  flex-direction: column;
}

.cart-content-buttons {
  display: flex;
  padding-top: 15px;
}

.cart-content-buttons-quantity input {
  width: 50px;
  padding: 1px 2px;
}

.cart-content-buttons-quantity {
  display: flex;
  align-items: center;
}

.cart-info-content p {
  margin: 0;
}

.cart-content-buttons-extras {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-info-general-color {
  padding-top: 15px;
}

.cart-info-additionals {
  text-align: center;
}

.cart-content-container hr {
  width: 100%;
}

.cart-info-additionals hr {
  width: 100%;
}

.cart-info-image {
  width: 80px;
  height: 80px;
}

.cart-info-general {
  width: 80px;
}

.cart-content-container {
  margin-top: 100px;
}
.cart-info-additionals {
  margin-top: 150px;
  height: 200px;
}

@media (min-width: 850px) {
  .cart-container {
    padding-top: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
  }
  .cart-content-container {
    width: 60%;
  }
  .cart-info-additionals {
    margin: 0;
    margin-top: 100px;
    width: 30%;
  }

  .cart-info-image {
    width: 100px;
    height: 100px;
  }
}
