.cart-item {
    text-align: center; 
    border: 1px  solid #ccc; 
    margin: 2rem; 
    padding: 1rem;
} 


.item-image img {
    width: 50px;
}  

.item-image .btns-container button{ 
    border: none; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    font-size: 10px; 
    margin-right: 5px;

} 

.item-image .btns-container .btn-increase{ 
    color: #fff; 
    background-color: #1a1a1a;

} 


.item-image .btns-container .btn-decrease, .btn-trash{ 
    color: #fff; 
    background-color: #9d534f;
}


.name-price h4 {
    margin: 0;
}

.empty-cart {
    text-align: center;
}
.name-price p {
    font-size: 1rem; 
    font-weight: normal;
} 
 

@media(min-width: 1024px) { 
    .cart-page {
        display: flex; 
        justify-content: center;
    }
    .cart-item {
        display: flex; 
        justify-content: space-between;
    } 

    .cart-item div {
        margin: 1rem;
    } 
    .name-price {
        width: 200px;
    }
}