 
 .bgimg-1, .bgimg-2, .bgimg-3 {
     position: relative; 
     background-attachment: fixed;             
     background-repeat: no-repeat; 
 } 
 .bgimg-1{
    background-image: url("https://res.cloudinary.com/aleksmotin/image/upload/v1652632281/DSC_7171_fudosy.jpg");  
    background-size: cover;  
    height: 100vh;
 }  
 .bgimg-2 {
    background-image: url("https://res.cloudinary.com/aleksmotin/image/upload/v1652913750/background-image2_gauupe.jpg");  
    background-size: cover;    
    background-position: top;    
    object-fit: cover;                             
 } 
 h3 {
     text-align: center;
 }
 .caption {
    /* align-items: center;
    padding-top: 100px; */
 }
 .caption div {
   display: flex;
   flex-direction: 'column';
   justify-content: 'center';
   border: '1px solid red';
   align-items: 'center';
 }
 .container-home {
    border: '1px solid red';
 }
 .section {
    height: 100vh;     
    padding-top: 50px;  
    display: block;
 }  
 .section-title {
    color: white; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    font-size: 50px
 }
 .section-content {
    text-align: center;
 } 

 .section-content:first-child{
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
 }
 
 .section-content button {
    background-color: #000000; 
    color: white; 
    width: 150px; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    height: 50px;
 }
 .caption h1 {
    color: white; 
    font-size: 50px;
 } 



