@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap'); 
 .bgimg-1, .bgimg-2, .bgimg-3 {
     position: relative; 
     background-attachment: fixed;             
     background-repeat: no-repeat; 
 } 
 .bgimg-1{
    align-items: 'center';
    background-image: url("https://res.cloudinary.com/aleksmotin/image/upload/v1652632281/DSC_7171_fudosy.jpg");  
    background-size: cover;  
    height: 100vh;
 }  
 .bgimg-2 {
    background-image: url("https://res.cloudinary.com/aleksmotin/image/upload/v1652913750/background-image2_gauupe.jpg");  
    background-size: cover;    
    background-position: top;    
    object-fit: cover;                             
 } 
 h3 {
    text-align: center;
 }
 .caption {
    align-items: center;
    margin: 0 auto;
    padding-top: 35vh;
 }
 .container-home {
 }
 .section {
    height: 100vh;     
    padding-top: 50px;  
    display: block;
 }  
 .section-title {
    color: white; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    font-size: 50px
 }
 .section-content {
    text-align: center;
 } 

 .section-content:first-child{
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
 }
 
 .section-content button {
    background-color: #000000; 
    color: white; 
    width: 150px; 
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    height: 50px;
 }
 .caption h1 {
    border: '1px solid red';
    font-family: 'Neue-Helvetica', 'Helvetica', 'Arial', Sans-Serif;
    margin: 0 auto;
    color: white; 
    font-size: 2.3em;
 } 
 .caption div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    background: #ffa333;
 }
 .caption div svg {
   font-size: 38px;
   margin: 0 5px;
   border: '1px solid green';
 }

 .section-subtitle {
    padding: 0;

    font-weight: 400;
    font-size: .9em;
 }
 .section-direction {
    padding: 0;
    margin-top: 5px;
    font-family: 'Charm', cursive;
    font-weight: 400;
    font-size: .9em;
 }
 .section-party {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 35vh;
 }
 .section-party h3{
   padding: 0;
   margin: 0;
 }
 .section-party p {
   padding: 0;
   margin: 15px 0;
   font-weight: 500;
   font-size: 1.2em;
 }
 .section-party button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background: black;
 }