.content-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  padding: 0 50px 50px 50px;
  position: relative;
  padding-bottom: 18em;
  min-height: 100vh;
}

.container-size {
  display: flex;
  gap: 10px;
}
.content-container-details {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-container-details-section {
  display: flex;
  background-color: #ebe6e8;
  flex-direction: column;
  /* justify-content: center;  */
  width: 100%;
  gap: 50px;
  padding: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}
.product-name {
  color: black;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 38px;
  font-family: Futura, sans-serif;
}
.shop-button {
  background-color: black;
  padding: 12px 8px;
  margin-top: 10px;
  letter-spacing: 0.7px;
  color: white;
  text-transform: uppercase;
}
.product-warnings {
  padding-left: 30px;
}
.materials {
  align-self: center;
}
.product-price {
  background: #000;
  color: #ebe6e8;
  margin-bottom: 10px;
  padding: 0 1em;
  border-radius: 100px;
  height: 2em;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.07em;
}
.product-description {
  /* text-align: start;    */
  font-size: 0.9rem;
  margin-top: 25px;
  font-size: 18px;
  font-family: "Neue-Helvetica", "Helvetica", "Arial", Sans-Serif;
}
select {
  width: 100%;
  border: none;
  outline: none;
}
.container-sise {
  display: flex;
  flex-direction: row;
}
.container-size select {
  width: 40%;
}
.select-size {
  width: 40%;
  font-size: 0.9rem;
}
.option-size {
  text-transform: uppercase;
}
hr {
  color: black;
}
.button-cart {
  background: #000;
  cursor: pointer;
  padding: 10px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.product-warnings {
  align-self: center;
}
.product_warnings_title {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.7px;
  font-size: 13px;
}

.content-container select {
  text-transform: uppercase;
}

.share-icons {
  display: flex;
  flex-direction: row;
  gap: 160px;
  align-items: center;
  margin: 0;
  border: 0;
  padding: 5px 0;
}
.share-icons p {
  font-weight: 400;
  padding: 0;
  border: 0;
  margin: 0;
}

.content-container ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.additional_information_sidebar {
  position: fixed;
  background: white;
  opacity: 0.9;
  left: -25%;
  width: 26%;
  height: 68%;
}

.titles {
  width: 250px;
}

.content-blocker {
  text-align: center;
  position: fixed;
  margin: 0 auto;
  display: block;
  top: 30%;
  opacity: 1;
  right: -100vw;
  width: 50vw;
  height: 100vh;
}

.content-blocker p {
  font-size: 10px;
  font-family: "Neue-Helvetica", "Helvetica", "Arial", Sans-Serif;
}

.content-blocker ul li {
  text-decoration: dotted;
  list-style: circle;
  font-size: 10px;
}

.content-blocker h3 {
  font-size: 16px;
  font-family: "Neue-Helvetica", "Helvetica", "Arial", Sans-Serif;
  font-weight: 500 bold;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.text-container {
  text-align: initial;
  padding-left: 15%;
  height: 70vh;
  overflow-y: scroll;
}

.close-img {
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.product-warnings ul li {
  font-size: 0.7rem;
}

.regards-politics {
  font-size: 0.9rem;
  margin-top: 15px;
  text-transform: uppercase;
}

.warning-icon {
  display: inline-block;
  width: 2rem;
  padding: 0;
  height: 2rem;
}

.btn-cart {
  border: 1px solid black;
  margin-top: 45px;
  cursor: pointer;
  font-size: 15px;
  font-family: Futura, sans-serif;
  font-weight: 400;
  height: 50px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  width: 302px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  letter-spacing: 0.3px;
}
.cart-btn-contentcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container-product-info {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.container-product-text {
}
.container-product-text p {
  margin: 0;
  padding: 0;
  border: 0;
}
.product-info {
  padding: 0;
}
.option-size {
  background: #fff;
  color: #d7d5d6;
  font-weight: 400;
  border-radius: 50%;
  font-family: Futura, sans-serif;
  font-size: 18px;
  width: 38px;
  height: 38px;
  transition: all 0.5s;
  border: none;
}
.color-product {
  font-family: Futura, sans-serif;
  font-weight: 400;
  color: #808392;
}
.product-size {
  margin-top: 15px;
  color: #808392;
  font-family: Futura, sans-serif;
}

.sizebutton {
  background: #fff;
  color: #d7d5d6;
  font-weight: 400;
  font-size: 18px;
  font-family: Futura, sans-serif;
  cursor: pointer;
  border-radius: 50%;
  width: 38px;
  border: none;
  height: 38px;
}

.sizebutton.defaultsize {
  background: #000;
  color: #fff;
  border-radius: 50%;
  letter-spacing: 0;
  height: 38px;
  font-size: 18px;
  font-family: Futura, sans-serif;
  cursor: pointer;
  width: 38px;
  font-weight: 600;
}
@media (max-width: 600px) {
  .content-container-details-section {
    /* border: 1px solid red; */
  }
}
@media (min-width: 64rem) {
  .content-container-details-section {
    margin: 0;
    flex-direction: row;
    width: 100%;
    padding: 170px;
  }
  .selected {
  }
  .container-product-info {
    margin-bottom: 30%;
    height: 70%;
    align-items: top;
    padding: 0 50px;
    position: relative;
  }
}
@media (min-width: 96rem) {
  .content-container-details-section {
    margin: 0;
    background-color: #ebe6e8;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding: 150px;
    width: 100%;
  }
  .product-size {
    margin-top: 5px;
  }
  .product-info {
    padding: 15px;
    width: 100%;
    order: -1;
  }
  .selected {
  }
  .container-product-info {
    margin-bottom: 34.5%;
    padding: 0 25px;
  }
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .product-name {
    font-size: 2.3rem;
    margin: 0;
  }
  .product-owner {
    font-size: 1.5rem;
    font-family: Futura, sans-serif;
    color: black;
  }
  .product-description {
    width: auto;
    font-size: 0.7rem;
  }
  .product-price {
    font-size: 1.5rem;
  }
  .container-size {
    margin-top: 5px;
  }
}
